COMPOSE_PROJECT_NAME=budgettracker

FRONTEND_PORT=8087
BACKEND_PORT=5007

POSTGRES_DB=budget_tracker
POSTGRES_USER=budgettracker
POSTGRES_PASSWORD=change_me_postgres_password

JWT_KEY=change_me_with_a_long_random_secret_at_least_32_chars
JWT_ISSUER=BudgetTracker.Api
JWT_AUDIENCE=BudgetTracker.Frontend

CORS_ORIGIN=https://budgettracker.bouchard-mehdi.fr
DATABASE_AUTO_MIGRATE=true
